body {
    font-family: Arial;

}
.header {
    
    background: url(https://img.freepik.com/free-vector/modern-flowing-colorful-wave-banner-background_1035-19861.jpg?q=10&h=200);
}
.navbar {
    justify-content: start;
    
}
.bg-body-tertiary {
    background-color: rgba(var(--bs-secondary-bg-rgb), .5) !important;
}
.list-group-item {
    background-color: rgba(var(--bs-tertiary-color-rgb), .100) !important;
    border: none;
}
.skills {
    background-color: rgba(var(--bs-success-rgb), .5);
}
.footer {
    background: url(https://img.freepik.com/free-vector/modern-flowing-colorful-wave-banner-background_1035-19861.jpg?q=10&h=200);
}
